@charset "UTF-8";
.main i{
    color: #f00;
}
.facr{
    color: #808081 !important;
}
.main .col-sm-3{
    height: 490px;
    border-right: 1px solid #666;
}
.main .col-sm-12 .assign_text{
    background: #6ec2fd;
}
.crCFF0FF{
    color: #CFF0FF;
}
.cr737373{
    color: #737373;
}
.col-sm-12 .assign_text{
    background: #6ec2fd;
}
.main .col-sm-6,.main .col-sm-12{
    padding: 0;
    border-top: 1px solid #A1A1A5;
}
.main .col-sm-6 .assign_text span{
    display: block;
    float: left;
    width: 50%;
    height: 34px;
    padding: 6px 6px;
}
.main .assign_text span:first-of-type{
    background: #6ec2fd;
    text-align: center;
}
.main .col-sm-12 .assign_text span{
    display: block;
    float: left;
    padding: 6px 6px;
}
.main .col-sm-12 .assign_text span:first-of-type{
    background: #6ec2fd;
    text-align: center;
    width: 25%;
}
.main .col-sm-6 .assign_text span:last-of-type{
    background: #EEEEFF;
    height: 34px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.main .col-sm-12 .assign_text span:last-of-type{
    background: #EEEEFF;
    width: 75%;
}
.main .col-sm-12 .assign_text span:last-of-type input{
    height: 90%;
}
.main .col-sm-9{
    background: none !important;
}
.mt20{
    margin-top: 20px;
}

.main .col-sm-6 .assign_text input,.main .col-sm-12 .assign_text input{
    width: 80%;
    height: 90%;
}
.main .col-xs-12 .col-sm-6 .assign_text input{
     width: 80%;
     height: 90%;
 }
.main .col-xs-12{
    padding: 0;
}
.main .col-sm-6 .assign_text .fa,.mian .col-sm-12 .assign_text .fa{
    font-size: 1rem;
    color: red;
}
.col-sm-3{
    height: 490px;
    border-right: 1px solid #666;
}

.main>p{
    margin-bottom: 4px;
}

.input-group-addon,.form-control{
    border-radius: 0;
}
.input-group-addon,.input-group-addon a{
    background: #6ec2fd;
    color: #000;
}
.table{
    margin: 20px 0 0;
}
.table-striped > tbody > tr:first-of-type{
    background: #428BCA;
}
.table-striped > tbody > tr,.table > tbody > tr.warning > td{
    background: #EEEEFF;
}
.table-hover > tbody > tr.warning:hover > td{
    background: #EEEEFF;
}
.table-striped > tbody > tr:first-of-type >th{
    border: 0;
}
.ico_ren{
    display: inline-block;
    background: url("../../images/ren_03.jpg");
    width: 16px;
    height: 16px;
}
.ico_bi{
    display: inline-block;
    background: url("../../images/mark_03.jpg");
    width: 17px;
    height: 16px;
}
.ico_close{
    display: inline-block;
    background: url("../../images/mark_05.jpg");
    width: 17px;
    height: 16px;
}
.main .col-xs-12{
    padding: 0;
}
.paging{
    border: 1px solid #0066cc;
    margin-top: 4px;
    text-align: center;
}
.paging .pager{
    display: inline-block;
}
.paging .pager li{
    float: left;
}
.paging .pager li input{
    max-width: 40px;
}
.paging .pager{
    margin: 4px auto;
}
.paging .pager p{
    color: #01018c;
}
.pager li > a{
    padding: 4px 6px;
}
.pager .btn-primary{
    background-color: #428bca;
}
.main .col-sm-3{
    height: 490px;
    border-right: 1px solid #666;
}
.col-sm-12 .main .col-sm-12{
    padding: 0;
}
.main{
    padding: 0 20px;
}
@media (max-width: 768px) {
    .main .col-sm-6 .assign_text span,.main .col-sm-12 .assign_text span{
        display: block;
        float: left;
        width: 50% !important;
        padding: 6px 6px;
    }
    .main .col-sm-3{
        height: 100%;
        border-right: 0;
        border-bottom: 1px solid #666;
    }

}
@media (max-width: 768px) {
    .main .col-sm-3{
        height: 100%;
        border-right: 0;
        border-bottom: 1px solid #666;
    }
}