@charset "UTF-8";
html{
    font-size: 62.5%;
    font-family: 微软雅黑;
}
h2{
    font-size: 3.6rem;
}
p,span{
    font-size: 1.6rem;
    margin: 0;
}
h3{
    margin: 0;
    padding: 20px 0 10px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*header start*/
.header{
    border-bottom: 1px solid #666;
}
.header .logo{
    width: 80%;
    margin: 0 auto;
}
.header .logo img{
    width: 100%;
    margin: 20px 0 0 10px;
}
.header .col-sm-6{
}
.header .title{
    margin: 35px 0 0 0;
    text-indent: -20%;
    letter-spacing: 8px;
}
.header .current_user{
    padding-top: 25%;
    padding-bottom: 5%;
}
.header .current_user p{
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
}
.header .current_user p:last-of-type a{
    color: #000;
}

/*===============================sild nav=========================*/
.content{
    border-bottom: 1px solid #666;
    background: floralwhite;
}
.content .col-sm-3{

    height: 490px;
    /*border-right: 1px solid #666;*/
}
.content .col-sm-9{
    padding: 0;
    height: 500px;
}
.sideNav{
    padding: 20px 0;
}
.content .panel p{
    position: relative;
}
.sideNav > .panel{
    border: 0 none;
}
.panel{
    margin: 0;
}
.menu1 p a{
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: left;
}
.angle{
    position: absolute;
    right: 10px;
}
.angle .fa{
    font-size: 2.8rem;
    display: none;
}
.angle .disp {
    display: block;
}
.panel-group .panel + .panel{
    margin: 0;
}
.panel-group .panel-heading{
    position: relative;
}
.panel-group .panel-heading .angle{
    right: 20px;
}
.panel-group .panel-heading .angle .fa{
    font-size: 2rem;
}
.panel-group .panel-heading a{
    width: 100%;
}
.panel-body p{
    text-align: center;
}
.jiantou{
    width: 35px;
    height: 20px;
    background: url("../images/jiant_03.png") no-repeat center;
    background-size: 100%;
    position: absolute;
}
footer{
    padding: 15px 20px 30px;
}
/*====================================================*/
@media (max-width: 768px) {
    .header .logo{
        width: 100%;
    }
    .header .title{
        margin: 0;
        text-indent: 0;
        letter-spacing: 0;
    }
    .header .current_user{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .content .col-sm-3{
        height: 100%;
        border-right: 0;
        border-bottom: 1px solid #666;
    }
}